<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>

<div>
  <h2>Problem Set 4 <a href = "https://goo.gl/U6Fd2x" class="btn btn-primary btn-small" target="_blank">Documentation</a></h2>
  <h4>Database Dump: <%= link_to "dbdumpfile", "http://web1.cs.ait.ac.th/codeisfun/pgdump.txt" %></h4>
</div>

<div class="well">
  <h3>Flow</h3>
  <%= image_tag "Content_Flow.png", style: 'display:block; margin:auto;' %>
</div>