<div class="panel panel-warning">
  <div class="panel-heading ">
    <h4>Editing Problem</h4>
  </div>
  <div class="panel-body">
    <%= render 'form', problem: @problem %>

    <%= link_to 'Show', @problem ,class: "btn btn-default btn-small"%> |
    <%= link_to 'Back', problems_path ,class: "btn btn-default btn-small"%>
  </div>
</div>