<h1>Categories</h1>
<ul>
  <li><%= link_to "Category 1",categories_index_path %></li>
  <li><%= link_to "Category 2",categories_index_path %></li>
  <li><%= link_to "Category 3",categories_index_path %></li>
</ul>