<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>

<h2>Problem Set 6</h2>

<div>
  <h3>Testing Web6: <a href = "https://goo.gl/5M2BKv" class="btn btn-primary btn-small" target="_blank">Documentation</a></h3>


</div>

