<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>


<div class="container">
  <div><h2>Problem Set 6</h2></div>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning"><h3>Evaluation Result Web3: <a href = "https://goo.gl/RhRZ8M" class="btn btn-primary btn-small" target="_blank">Documentation</a></h3></li>
  <li class="list-group-item list-group-item-warning"><h3>Evaluation Result Web6: <a href = "https://goo.gl/5M2BKv" class="btn btn-primary btn-small" target="_blank">Documentation</a></h3></li>
  <li class="list-group-item list-group-item-warning"><h3>Evaluated By Real User:   <a href = "https://goo.gl/pFy8xa" class="btn btn-primary btn-small" target="_blank">Documentation</a></h3></li>
  <li class="list-group-item list-group-item-warning"><h3>Summary & Action plan:  <a href = "https://goo.gl/gQzvX4" class="btn btn-primary btn-small" target="_blank">Documentation</a></h3></li>
</ul>
</div>
