<!DOCTYPE html>
<html>
<title>Problem Set-1</title>

<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>

</head>

<body>
<div class="card text-center text-justify text-capitalize ">
  <div class="col-xs-8 col-xs-offset-2">
    <div class = "well well-lg">
      <h4 class="card-title">Solutions to PS1</h4>
      <div class = "card-block">

        <a href="<%= ps1_page_path %>" class="btn btn-danger btn-xlarge">NewYorkTimes Clone</a>
        <a href="<%= divisions_show_path %>" class="btn btn-danger btn-xlarge">Simple Division</a>
        <a href = "https://goo.gl/Z9kAWb" class="btn btn-danger btn-xlarge">Documentation</a>
      </div>
    </div>
  </div>
</div>
</body>


</html>