<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>

<h2>Problem Set 5 <a href = "https://goo.gl/jdVvHM" class="btn btn-primary btn-small" target="_blank">Documentation</a></h2>
<div class="well">
  <h3>UML Diagram</h3>
  <%= image_tag "UML_Codeisfun.png", style: 'display:block; margin:auto;' %>
</div>

<div class="well">
  <h3>Use Case Diagram</h3>
  <%= image_tag "use_case.png", style: 'display:block; margin:auto;' %>
</div>

<div class="well">
  <h3>Flowchart diagram</h3>
  <%= image_tag "Flowchart.png", style: 'display:block; margin:auto;' %>
</div>
