
<h3>Search Author Name</h3>

<%= form_for @quotation, :url => { :action => :findauthor } do |form| %>
    <%= form.text_field :author_name %>
    <%= form.submit 'Search' ,author_name: nil %>
<% end %>

<%= link_to "Back", basics_quotations_path %>