<h1>Problem Sets</h1>

<li><%= link_to 'Problem Set 1', 'http://web1.cs.ait.ac.th/PS1' %></li>
<li><%= link_to 'Problem Set 2', 'http://web1.cs.ait.ac.th/ps2' %></li>
<li><%= link_to 'Problem Set 3', 'http://web1.cs.ait.ac.th/ps3' %></li>
