<h1>Problem Sets</h1>

<li><%= link_to 'http://web1.cs.ait.ac.th/PS1', 'Problem Set 1' %></li>
<li><%= link_to 'http://web1.cs.ait.ac.th/ps2', 'Problem Set 2' %></li>
<li><%= link_to 'http://web1.cs.ait.ac.th/ps3', 'Problem Set 3' %></li>
