<h1>Problem Sets</h1>

<li><%= link_to 'Problem Set 1', :controller => :home, :action => :index %></li>
<li><%= link_to 'Problem Set 2', :controller => :basics, :action => :quotations %></li>
<li><%= link_to 'Problem Set 3', :controller => :users, :action => :index %></li>
