
<%= image_tag "harvey.jpg", style: 'display:block; margin:auto; width: 10%'  %>


<ul>
    <li>Name: Harvey Spector</li>
    <li>Age: 22</li>
    <li>Occupation: Student, Asian Institute of Technology </li>
    <li>Marital Status: Single</li>
    <li>Housing Situation: Lives in University Dormitory</li>
    <li>Income: 3000$ per annum</li>
    <li>Short-Term Goal: To Provide a platform for every individual who like to code but having difficulties with it.</li>
    <li>Long-Term Goal: To provide a web application for variety of users from beginner to advanced to improve their problem solving skills. Focusing on all types of users.</li>
    <li>Computer Equipment and Connection: Dell Xps-13 with i7 processor and High speed university Internet connection</li>
</ul>