<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>

<a href = "https://docs.google.com/a/ait.asia/document/d/1H0S9E6s3e5S0JAlK7jMUUwbj5-vIf0ZxJFEmEKIThRY/edit?usp=sharing" class="btn btn-danger btn-xlarge">Documentation</a>

<h4>Fictious user Profiles</h4>

<ul>
    <!--<a href="users/admin">Harvey Specter(Admin)</a>-->
  <li><%= link_to 'Harvey Specter(Admin)', :controller => :users, :action => :admin %></li>
  <li><%= link_to 'Mike Ross', :controller => :users, :action => :user %></li>
  <li><%= link_to 'Jessica Pearson', :controller => :users, :action => :user1 %></li>
</ul>

<h4>Jenkins</h4>
<a href="https://goo.gl/TyVZKJ">Capture Jenkins</a>

<h4>Database Dump</h4>
<a href="http://web1.cs.ait.ac.th/ps3/dbdump/pgdump.txt">dump file</a>

