
<%= image_tag "jessica.jpg", style: 'display:block; margin:auto; width: 10%'  %>


<ul>
  <li>Name: Jessica Pearson</li>
  <li>Age: 50</li>
  <li>Occupation: Professor, AIT Thailand</li>
  <li>Marital Status: Divorced</li>
  <li>Housing Situation: Lives in Bangkok</li>
  <li>Income: 65000$ per annum</li>
  <li>Short-Term Goal: Improving my problem solving skills from intense practice.</li>
  <li>Long-Term Goal: I used to focus on total conceptual stuff. I need to get better with my hands on implementations to a particular problem. Implementing my theoretical knowledge into code.</li>
  <li>Immediate Questions: Can i Talk to other developers on this website? </li>
  <li>Computer Equipment and Connection: lenovo thinkpad with i7 processor and High speed Internet connection</li>
</ul>