
<%= image_tag "mike.jpg", style: 'display:block; margin:auto; width: 10%'  %>


<ul>
  <li>Name: Mike Ross</li>
  <li>Age: 25</li>
  <li>Occupation: Developer, Google LLC</li>
  <li>Marital Status: Engaged</li>
  <li>Housing Situation: Lives in Bangkok</li>
  <li>Income: 90000$ per annum</li>
  <li>Short-Term Goal: To practice on his coding skills for upcoming interview with facebook.</li>
  <li>Long-Term Goal: Keep on improving my coding skills by constant practice everyday.</li>
  <li>Immediate Questions: What if i am Struck at any topic, can you provide resources to that very topic? </li>
  <li>Computer Equipment and Connection: Macbook pro with i7 processor and High speed Internet connection</li>
</ul>