

<footer class="footer">
    <div class="container">
     <a href = "https://validator.w3.org/">
        <img src="public/W3C_HTML5_certified.png" alt="XHTML Validate" width="120" height="30" />
     </a>
    </div>
</footer>
