<h1>New Solution</h1>

<%= render 'form', solution: @solution %>

<%= link_to "My submissions", problem_solutions_path , class: "btn btn-success btn-lg btn-xlarge"%>
<%= link_to 'Back', problems_path %>
